In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("datos/alumnos.csv")
df

   index no_cuenta nombres apellido_paterno fecha_nacimiento  estatura
0      0        1A    Juan            Lopez       2001-01-01      1.78
1      1       1GG   Maria        Paterno 1       2001-03-20      1.60
2      2      21OL   Donna            River       2002-01-09      1.69
3      3       2GG   Maria        Paterno 2       2001-03-20      1.62
4      4        3B   Perla           Calles       2001-01-20      1.60
5      5        4A  Carlos           Madero       2001-01-01      1.68
6      6       574   Pedro        Paterno 5       2022-01-31      1.60
7      7        6C   Jesus           Garcia       2001-03-20      1.65
8      8        7B    Gema             None       2001-03-20      1.53
9      9      A744   Amaro           Garcia       2001-09-23      1.83

In [13]:
#Escribir a in CSV
df.to_csv("datos/df/alumnos_coma.csv", index_label="ID")

In [14]:
#Escribir a in CSV
df.to_csv("datos/df/alumnos_pipe.csv",
          index=False,
          sep="|")

In [15]:
#Escribir un JSON
df.to_json('datos/df/alumnos_campos.json',
           indent=2)

In [16]:
#Escribir un JSON orientado a registros
df.to_json('datos/df/alumnos_registros.json',
           orient="records",
           indent=2)

In [17]:
#Escribir un JSON orientado a tablas
df.to_json('datos/df/alumnos_tabla.json',
           orient="table",
           indent=2)

In [18]:
#Escribir un JSON orientado a valores
df.to_json('datos/df/alumnos_valores.json',
           orient="values",
           indent=2)

In [19]:
#Escribir en exel
df.to_excel('datos/df/alumnos_excel.xlsx',
            sheet_name='AlumnosArcelia',
            index=False)

In [20]:
#Escribir en multiples hojas en un archivo de excel
#df_2 = df.copy()
with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx') as w:
    for i in range(5):
        hoja = f"AlumnosHoja{i}"
        df.to_excel(w, sheet_name=hoja, index=False)

In [21]:
#Escribir en un archivo de excel existente
with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx', 
    mode='a', engine="openpyxl",) as w:
    df.to_excel(w, sheet_name="AlumnosExiste", index=False)